.error {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.errorlink {
	display: inline;
	position: relative;
	top: auto;
	bottom: -5rem;
	left: -45rem;
}
